/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.2.2-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: vive_la_vibe_brain
-- ------------------------------------------------------
-- Server version	12.2.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Current Database: `vive_la_vibe_brain`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `vive_la_vibe_brain` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */;

USE `vive_la_vibe_brain`;

--
-- Table structure for table `ai_action_proposal`
--

DROP TABLE IF EXISTS `ai_action_proposal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_action_proposal` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `proposal_type` varchar(80) NOT NULL,
  `related_entity_type` varchar(50) DEFAULT NULL,
  `related_entity_id` bigint(20) unsigned DEFAULT NULL,
  `payload_json` longtext DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'pending_review',
  `reviewed_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `executed_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ai_action_proposal_entity` (`related_entity_type`,`related_entity_id`),
  KEY `idx_ai_action_proposal_status` (`status`),
  KEY `fk_ai_action_proposal_reviewed_by_user` (`reviewed_by_user_id`),
  CONSTRAINT `fk_ai_action_proposal_reviewed_by_user` FOREIGN KEY (`reviewed_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ai_context_log`
--

DROP TABLE IF EXISTS `ai_context_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_context_log` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `interaction_source` varchar(80) NOT NULL,
  `source_type` varchar(80) NOT NULL,
  `source_id` bigint(20) unsigned DEFAULT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ai_context_log_source` (`source_type`,`source_id`),
  KEY `idx_ai_context_log_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ai_insight`
--

DROP TABLE IF EXISTS `ai_insight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_insight` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `source_scope` varchar(80) NOT NULL DEFAULT 'system',
  `severity_level` varchar(50) NOT NULL DEFAULT 'medium',
  `confidence_score` decimal(5,2) DEFAULT NULL,
  `related_entity_type` varchar(50) DEFAULT NULL,
  `related_entity_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ai_insight_entity` (`related_entity_type`,`related_entity_id`),
  KEY `idx_ai_insight_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ai_suggestion`
--

DROP TABLE IF EXISTS `ai_suggestion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_suggestion` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `related_entity_type` varchar(50) NOT NULL,
  `related_entity_id` bigint(20) unsigned DEFAULT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `project_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `suggestion_type` varchar(80) NOT NULL DEFAULT 'general',
  `impact_estimate` varchar(50) DEFAULT NULL,
  `priority_level` varchar(50) NOT NULL DEFAULT 'medium',
  `review_status` varchar(50) NOT NULL DEFAULT 'pending',
  `reviewed_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `implementation_task_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ai_suggestion_entity` (`related_entity_type`,`related_entity_id`),
  KEY `idx_ai_suggestion_area` (`business_area_id`),
  KEY `idx_ai_suggestion_project` (`project_id`),
  KEY `idx_ai_suggestion_review_status` (`review_status`),
  KEY `idx_ai_suggestion_implementation_task` (`implementation_task_id`),
  KEY `fk_ai_suggestion_reviewed_by_user` (`reviewed_by_user_id`),
  CONSTRAINT `fk_ai_suggestion_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ai_suggestion_implementation_task` FOREIGN KEY (`implementation_task_id`) REFERENCES `task` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ai_suggestion_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ai_suggestion_reviewed_by_user` FOREIGN KEY (`reviewed_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alert_event`
--

DROP TABLE IF EXISTS `alert_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `alert_event` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `alert_rule_id` bigint(20) unsigned DEFAULT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `severity_level` varchar(50) NOT NULL DEFAULT 'medium',
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'open',
  `triggered_at` datetime NOT NULL DEFAULT current_timestamp(),
  `acknowledged_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `acknowledged_at` datetime DEFAULT NULL,
  `resolved_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_alert_event_rule` (`alert_rule_id`),
  KEY `idx_alert_event_entity` (`entity_type`,`entity_id`),
  KEY `idx_alert_event_status` (`status`),
  KEY `idx_alert_event_triggered_at` (`triggered_at`),
  KEY `fk_alert_event_acknowledged_by_user` (`acknowledged_by_user_id`),
  CONSTRAINT `fk_alert_event_acknowledged_by_user` FOREIGN KEY (`acknowledged_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_alert_event_alert_rule` FOREIGN KEY (`alert_rule_id`) REFERENCES `alert_rule` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alert_rule`
--

DROP TABLE IF EXISTS `alert_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `alert_rule` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `name` varchar(180) NOT NULL,
  `description` text DEFAULT NULL,
  `trigger_type` varchar(80) NOT NULL,
  `scope_type` varchar(50) NOT NULL DEFAULT 'organization',
  `config_json` longtext DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_alert_rule_org` (`organization_id`),
  KEY `idx_alert_rule_active` (`is_active`),
  CONSTRAINT `fk_alert_rule_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_log` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `action_type` varchar(80) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `field_name` varchar(120) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `change_summary` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_audit_log_user` (`user_id`),
  KEY `idx_audit_log_entity` (`entity_type`,`entity_id`),
  KEY `idx_audit_log_created_at` (`created_at`),
  CONSTRAINT `fk_audit_log_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `automation_rule`
--

DROP TABLE IF EXISTS `automation_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `automation_rule` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `description` text DEFAULT NULL,
  `trigger_type` varchar(80) NOT NULL,
  `action_type` varchar(80) NOT NULL,
  `config_json` longtext DEFAULT NULL,
  `requires_approval` tinyint(1) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_automation_rule_active` (`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `automation_run`
--

DROP TABLE IF EXISTS `automation_run`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `automation_run` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `automation_rule_id` bigint(20) unsigned NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'running',
  `execution_summary` text DEFAULT NULL,
  `triggered_at` datetime NOT NULL DEFAULT current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_automation_run_rule` (`automation_rule_id`),
  KEY `idx_automation_run_status` (`status`),
  KEY `idx_automation_run_triggered_at` (`triggered_at`),
  CONSTRAINT `fk_automation_run_automation_rule` FOREIGN KEY (`automation_rule_id`) REFERENCES `automation_rule` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `blocker`
--

DROP TABLE IF EXISTS `blocker`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `blocker` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `task_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `blocker_type` varchar(50) NOT NULL DEFAULT 'general',
  `severity_level` varchar(50) NOT NULL DEFAULT 'medium',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'open',
  `detected_at` datetime NOT NULL DEFAULT current_timestamp(),
  `resolved_at` datetime DEFAULT NULL,
  `resolution_notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_blocker_project` (`project_id`),
  KEY `idx_blocker_task` (`task_id`),
  KEY `idx_blocker_owner` (`owner_user_id`),
  KEY `idx_blocker_status` (`status`),
  CONSTRAINT `fk_blocker_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_blocker_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_blocker_task` FOREIGN KEY (`task_id`) REFERENCES `task` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `business_area`
--

DROP TABLE IF EXISTS `business_area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `business_area` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `name` varchar(150) NOT NULL,
  `code` varchar(50) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `priority_level` varchar(50) NOT NULL DEFAULT 'medium',
  `responsible_user_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_business_area_org_name` (`organization_id`,`name`),
  UNIQUE KEY `uq_business_area_org_code` (`organization_id`,`code`),
  KEY `idx_business_area_responsible` (`responsible_user_id`),
  CONSTRAINT `fk_business_area_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_business_area_responsible_user` FOREIGN KEY (`responsible_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `business_hypothesis`
--

DROP TABLE IF EXISTS `business_hypothesis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `business_hypothesis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `expected_result` text DEFAULT NULL,
  `current_status` varchar(50) NOT NULL DEFAULT 'open',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_business_hypothesis_area` (`business_area_id`),
  KEY `idx_business_hypothesis_owner` (`owner_user_id`),
  CONSTRAINT `fk_business_hypothesis_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_business_hypothesis_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `business_line`
--

DROP TABLE IF EXISTS `business_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `business_line` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(180) NOT NULL,
  `description` text DEFAULT NULL,
  `business_model_summary` text DEFAULT NULL,
  `current_status` varchar(50) NOT NULL DEFAULT 'planned',
  `monetization_notes` text DEFAULT NULL,
  `strategic_priority` varchar(50) NOT NULL DEFAULT 'medium',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_business_line_org_name` (`organization_id`,`name`),
  KEY `idx_business_line_area` (`business_area_id`),
  KEY `idx_business_line_owner` (`owner_user_id`),
  CONSTRAINT `fk_business_line_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_business_line_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_business_line_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `business_priority`
--

DROP TABLE IF EXISTS `business_priority`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `business_priority` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `scope_type` varchar(50) NOT NULL DEFAULT 'organization',
  `scope_id` bigint(20) unsigned DEFAULT NULL,
  `priority_order` int(10) unsigned DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `target_period` varchar(100) DEFAULT NULL,
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_business_priority_org` (`organization_id`),
  KEY `idx_business_priority_owner` (`owner_user_id`),
  KEY `idx_business_priority_scope` (`scope_type`,`scope_id`),
  CONSTRAINT `fk_business_priority_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_business_priority_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_checkin`
--

DROP TABLE IF EXISTS `daily_checkin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_checkin` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `checkin_date` date NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'submitted',
  `summary_yesterday` text DEFAULT NULL,
  `focus_today` text DEFAULT NULL,
  `blockers` text DEFAULT NULL,
  `general_notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_daily_checkin_user_date` (`user_id`,`checkin_date`),
  KEY `idx_daily_checkin_org` (`organization_id`),
  KEY `idx_daily_checkin_date` (`checkin_date`),
  CONSTRAINT `fk_daily_checkin_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_daily_checkin_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_checkin_item`
--

DROP TABLE IF EXISTS `daily_checkin_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_checkin_item` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `daily_checkin_id` bigint(20) unsigned NOT NULL,
  `project_id` bigint(20) unsigned DEFAULT NULL,
  `task_id` bigint(20) unsigned DEFAULT NULL,
  `item_type` varchar(50) NOT NULL DEFAULT 'planned',
  `content` text DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_daily_checkin_item_checkin` (`daily_checkin_id`),
  KEY `idx_daily_checkin_item_project` (`project_id`),
  KEY `idx_daily_checkin_item_task` (`task_id`),
  CONSTRAINT `fk_daily_checkin_item_daily_checkin` FOREIGN KEY (`daily_checkin_id`) REFERENCES `daily_checkin` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_daily_checkin_item_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_daily_checkin_item_task` FOREIGN KEY (`task_id`) REFERENCES `task` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `decision_link`
--

DROP TABLE IF EXISTS `decision_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_link` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `decision_record_id` bigint(20) unsigned NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` bigint(20) unsigned NOT NULL,
  `relation_type` varchar(50) NOT NULL DEFAULT 'affects',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_decision_link_decision` (`decision_record_id`),
  KEY `idx_decision_link_entity` (`entity_type`,`entity_id`),
  CONSTRAINT `fk_decision_link_decision_record` FOREIGN KEY (`decision_record_id`) REFERENCES `decision_record` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `decision_record`
--

DROP TABLE IF EXISTS `decision_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_record` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `meeting_id` bigint(20) unsigned DEFAULT NULL,
  `project_id` bigint(20) unsigned DEFAULT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `rationale` text DEFAULT NULL,
  `decision_status` varchar(50) NOT NULL DEFAULT 'approved',
  `impact_level` varchar(50) NOT NULL DEFAULT 'medium',
  `effective_date` date DEFAULT NULL,
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_decision_record_meeting` (`meeting_id`),
  KEY `idx_decision_record_project` (`project_id`),
  KEY `idx_decision_record_area` (`business_area_id`),
  KEY `idx_decision_record_owner` (`owner_user_id`),
  KEY `fk_decision_record_created_by_user` (`created_by_user_id`),
  CONSTRAINT `fk_decision_record_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_decision_record_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_decision_record_meeting` FOREIGN KEY (`meeting_id`) REFERENCES `meeting` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_decision_record_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_decision_record_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `external_entity_link`
--

DROP TABLE IF EXISTS `external_entity_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_entity_link` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `external_system_id` bigint(20) unsigned NOT NULL,
  `internal_entity_type` varchar(50) NOT NULL,
  `internal_entity_id` bigint(20) unsigned NOT NULL,
  `external_entity_type` varchar(50) NOT NULL,
  `external_entity_id` varchar(190) NOT NULL,
  `reference_label` varchar(190) DEFAULT NULL,
  `metadata_json` longtext DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_external_entity_link` (`external_system_id`,`internal_entity_type`,`internal_entity_id`,`external_entity_type`,`external_entity_id`),
  KEY `idx_external_entity_link_internal` (`internal_entity_type`,`internal_entity_id`),
  KEY `idx_external_entity_link_external` (`external_entity_type`,`external_entity_id`),
  CONSTRAINT `fk_external_entity_link_external_system` FOREIGN KEY (`external_system_id`) REFERENCES `external_system` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `external_system`
--

DROP TABLE IF EXISTS `external_system`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_system` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `system_type` varchar(80) NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_external_system_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `follow_up_item`
--

DROP TABLE IF EXISTS `follow_up_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `follow_up_item` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `meeting_id` bigint(20) unsigned DEFAULT NULL,
  `decision_record_id` bigint(20) unsigned DEFAULT NULL,
  `task_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `assigned_user_id` bigint(20) unsigned DEFAULT NULL,
  `due_date` datetime DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'pending',
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `updated_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_follow_up_item_meeting` (`meeting_id`),
  KEY `idx_follow_up_item_decision` (`decision_record_id`),
  KEY `idx_follow_up_item_task` (`task_id`),
  KEY `idx_follow_up_item_assigned` (`assigned_user_id`),
  KEY `fk_follow_up_item_created_by_user` (`created_by_user_id`),
  KEY `fk_follow_up_item_updated_by_user` (`updated_by_user_id`),
  CONSTRAINT `fk_follow_up_item_assigned_user` FOREIGN KEY (`assigned_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_follow_up_item_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_follow_up_item_decision_record` FOREIGN KEY (`decision_record_id`) REFERENCES `decision_record` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_follow_up_item_meeting` FOREIGN KEY (`meeting_id`) REFERENCES `meeting` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_follow_up_item_task` FOREIGN KEY (`task_id`) REFERENCES `task` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_follow_up_item_updated_by_user` FOREIGN KEY (`updated_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `initiative`
--

DROP TABLE IF EXISTS `initiative`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `initiative` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `project_category_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'planned',
  `priority_level` varchar(50) NOT NULL DEFAULT 'medium',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `target_date` date DEFAULT NULL,
  `completion_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_initiative_org` (`organization_id`),
  KEY `idx_initiative_category` (`project_category_id`),
  KEY `idx_initiative_owner` (`owner_user_id`),
  CONSTRAINT `fk_initiative_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_initiative_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_initiative_project_category` FOREIGN KEY (`project_category_id`) REFERENCES `project_category` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `integration_note`
--

DROP TABLE IF EXISTS `integration_note`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `integration_note` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `external_system_id` bigint(20) unsigned NOT NULL,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `note_type` varchar(50) NOT NULL DEFAULT 'general',
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_integration_note_system` (`external_system_id`),
  KEY `fk_integration_note_created_by_user` (`created_by_user_id`),
  CONSTRAINT `fk_integration_note_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_integration_note_external_system` FOREIGN KEY (`external_system_id`) REFERENCES `external_system` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `knowledge_document`
--

DROP TABLE IF EXISTS `knowledge_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge_document` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `project_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `document_type` varchar(50) NOT NULL DEFAULT 'general',
  `storage_type` varchar(50) NOT NULL DEFAULT 'drive',
  `external_url` varchar(500) DEFAULT NULL,
  `version_label` varchar(50) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'draft',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_knowledge_document_org` (`organization_id`),
  KEY `idx_knowledge_document_area` (`business_area_id`),
  KEY `idx_knowledge_document_project` (`project_id`),
  KEY `idx_knowledge_document_owner` (`owner_user_id`),
  CONSTRAINT `fk_knowledge_document_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_knowledge_document_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_knowledge_document_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_knowledge_document_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `knowledge_note`
--

DROP TABLE IF EXISTS `knowledge_note`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge_note` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `project_id` bigint(20) unsigned DEFAULT NULL,
  `note_type` varchar(50) NOT NULL DEFAULT 'general',
  `title` varchar(220) NOT NULL,
  `content` text NOT NULL,
  `importance_level` varchar(50) NOT NULL DEFAULT 'medium',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_knowledge_note_org` (`organization_id`),
  KEY `idx_knowledge_note_area` (`business_area_id`),
  KEY `idx_knowledge_note_project` (`project_id`),
  KEY `idx_knowledge_note_owner` (`owner_user_id`),
  CONSTRAINT `fk_knowledge_note_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_knowledge_note_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_knowledge_note_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_knowledge_note_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `learning_record`
--

DROP TABLE IF EXISTS `learning_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `learning_record` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `source_type` varchar(50) NOT NULL,
  `source_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `category` varchar(50) NOT NULL DEFAULT 'general',
  `impact_level` varchar(50) NOT NULL DEFAULT 'medium',
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_learning_record_source` (`source_type`,`source_id`),
  KEY `idx_learning_record_created_by_user` (`created_by_user_id`),
  CONSTRAINT `fk_learning_record_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lookup_catalog`
--

DROP TABLE IF EXISTS `lookup_catalog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookup_catalog` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_lookup_catalog_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lookup_value`
--

DROP TABLE IF EXISTS `lookup_value`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookup_value` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lookup_catalog_id` bigint(20) unsigned NOT NULL,
  `code` varchar(80) NOT NULL,
  `label` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_lookup_value_catalog_code` (`lookup_catalog_id`,`code`),
  KEY `idx_lookup_value_active` (`is_active`),
  CONSTRAINT `fk_lookup_value_lookup_catalog` FOREIGN KEY (`lookup_catalog_id`) REFERENCES `lookup_catalog` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `meeting`
--

DROP TABLE IF EXISTS `meeting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `meeting` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `title` varchar(220) NOT NULL,
  `meeting_type` varchar(50) NOT NULL DEFAULT 'internal',
  `scheduled_start_at` datetime DEFAULT NULL,
  `scheduled_end_at` datetime DEFAULT NULL,
  `actual_start_at` datetime DEFAULT NULL,
  `actual_end_at` datetime DEFAULT NULL,
  `facilitator_user_id` bigint(20) unsigned DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'scheduled',
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `updated_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_meeting_org` (`organization_id`),
  KEY `idx_meeting_start` (`scheduled_start_at`),
  KEY `idx_meeting_status` (`status`),
  KEY `idx_meeting_facilitator` (`facilitator_user_id`),
  KEY `fk_meeting_created_by_user` (`created_by_user_id`),
  KEY `fk_meeting_updated_by_user` (`updated_by_user_id`),
  CONSTRAINT `fk_meeting_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_meeting_facilitator_user` FOREIGN KEY (`facilitator_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_meeting_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_meeting_updated_by_user` FOREIGN KEY (`updated_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `meeting_note`
--

DROP TABLE IF EXISTS `meeting_note`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `meeting_note` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `meeting_id` bigint(20) unsigned NOT NULL,
  `note_type` varchar(50) NOT NULL DEFAULT 'general',
  `content` text NOT NULL,
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_meeting_note_meeting` (`meeting_id`),
  KEY `fk_meeting_note_created_by_user` (`created_by_user_id`),
  CONSTRAINT `fk_meeting_note_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_meeting_note_meeting` FOREIGN KEY (`meeting_id`) REFERENCES `meeting` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `meeting_participant`
--

DROP TABLE IF EXISTS `meeting_participant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `meeting_participant` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `meeting_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `participation_role` varchar(50) NOT NULL DEFAULT 'participant',
  `attended` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_meeting_participant_meeting_user` (`meeting_id`,`user_id`),
  KEY `idx_meeting_participant_user` (`user_id`),
  CONSTRAINT `fk_meeting_participant_meeting` FOREIGN KEY (`meeting_id`) REFERENCES `meeting` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_meeting_participant_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `milestone`
--

DROP TABLE IF EXISTS `milestone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `milestone` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `subproject_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `milestone_type` varchar(50) NOT NULL DEFAULT 'delivery',
  `current_status` varchar(50) NOT NULL DEFAULT 'pending',
  `target_date` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `updated_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_milestone_project` (`project_id`),
  KEY `idx_milestone_subproject` (`subproject_id`),
  KEY `idx_milestone_owner` (`owner_user_id`),
  KEY `idx_milestone_target_date` (`target_date`),
  KEY `fk_milestone_created_by_user` (`created_by_user_id`),
  KEY `fk_milestone_updated_by_user` (`updated_by_user_id`),
  CONSTRAINT `fk_milestone_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_milestone_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_milestone_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_milestone_subproject` FOREIGN KEY (`subproject_id`) REFERENCES `subproject` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_milestone_updated_by_user` FOREIGN KEY (`updated_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notification_preference`
--

DROP TABLE IF EXISTS `notification_preference`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_preference` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `channel_type` varchar(50) NOT NULL,
  `alert_type` varchar(80) NOT NULL,
  `is_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_notification_preference` (`user_id`,`channel_type`,`alert_type`),
  CONSTRAINT `fk_notification_preference_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `objective_record`
--

DROP TABLE IF EXISTS `objective_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `objective_record` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `objective_type` varchar(50) NOT NULL DEFAULT 'strategic',
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `target_date` date DEFAULT NULL,
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `completion_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_objective_record_org` (`organization_id`),
  KEY `idx_objective_record_area` (`business_area_id`),
  KEY `idx_objective_record_owner` (`owner_user_id`),
  CONSTRAINT `fk_objective_record_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_objective_record_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_objective_record_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `organization`
--

DROP TABLE IF EXISTS `organization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `organization` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `legal_name` varchar(200) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `base_city` varchar(120) DEFAULT NULL,
  `base_state` varchar(120) DEFAULT NULL,
  `country` varchar(120) DEFAULT 'Mexico',
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `current_stage` varchar(100) DEFAULT NULL,
  `vision_summary` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_organization_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `policy_record`
--

DROP TABLE IF EXISTS `policy_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `policy_record` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `external_document_url` varchar(500) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_policy_record_org` (`organization_id`),
  KEY `idx_policy_record_area` (`business_area_id`),
  KEY `idx_policy_record_owner` (`owner_user_id`),
  CONSTRAINT `fk_policy_record_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_policy_record_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_policy_record_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `initiative_id` bigint(20) unsigned DEFAULT NULL,
  `project_category_id` bigint(20) unsigned DEFAULT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `business_line_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `short_code` varchar(60) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `objective` text DEFAULT NULL,
  `current_status` varchar(50) NOT NULL DEFAULT 'planned',
  `priority_level` varchar(50) NOT NULL DEFAULT 'medium',
  `health_status` varchar(50) NOT NULL DEFAULT 'green',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `sponsor_user_id` bigint(20) unsigned DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `target_date` date DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `completion_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `last_reported_at` datetime DEFAULT NULL,
  `last_activity_at` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `updated_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_org_short_code` (`organization_id`,`short_code`),
  KEY `idx_project_org` (`organization_id`),
  KEY `idx_project_initiative` (`initiative_id`),
  KEY `idx_project_category` (`project_category_id`),
  KEY `idx_project_area` (`business_area_id`),
  KEY `idx_project_line` (`business_line_id`),
  KEY `idx_project_owner` (`owner_user_id`),
  KEY `idx_project_status` (`current_status`),
  KEY `idx_project_target_date` (`target_date`),
  KEY `fk_project_sponsor_user` (`sponsor_user_id`),
  KEY `fk_project_created_by_user` (`created_by_user_id`),
  KEY `fk_project_updated_by_user` (`updated_by_user_id`),
  CONSTRAINT `fk_project_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_business_line` FOREIGN KEY (`business_line_id`) REFERENCES `business_line` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_initiative` FOREIGN KEY (`initiative_id`) REFERENCES `initiative` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_project_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_project_category` FOREIGN KEY (`project_category_id`) REFERENCES `project_category` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_sponsor_user` FOREIGN KEY (`sponsor_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_updated_by_user` FOREIGN KEY (`updated_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project_category`
--

DROP TABLE IF EXISTS `project_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_category` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_category_org_name` (`organization_id`,`name`),
  KEY `idx_project_category_area` (`business_area_id`),
  CONSTRAINT `fk_project_category_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_project_category_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project_member`
--

DROP TABLE IF EXISTS `project_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_member` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `role_in_project` varchar(80) NOT NULL DEFAULT 'member',
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_member_project_user` (`project_id`,`user_id`),
  KEY `idx_project_member_user` (`user_id`),
  CONSTRAINT `fk_project_member_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_project_member_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project_objective_link`
--

DROP TABLE IF EXISTS `project_objective_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_objective_link` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `objective_record_id` bigint(20) unsigned NOT NULL,
  `relation_type` varchar(50) NOT NULL DEFAULT 'contributes_to',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_objective_link` (`project_id`,`objective_record_id`,`relation_type`),
  KEY `fk_project_objective_link_objective_record` (`objective_record_id`),
  CONSTRAINT `fk_project_objective_link_objective_record` FOREIGN KEY (`objective_record_id`) REFERENCES `objective_record` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_project_objective_link_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project_tag`
--

DROP TABLE IF EXISTS `project_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_tag` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `name` varchar(120) NOT NULL,
  `description` text DEFAULT NULL,
  `color_hex` varchar(20) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_tag_org_name` (`organization_id`,`name`),
  CONSTRAINT `fk_project_tag_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project_tag_link`
--

DROP TABLE IF EXISTS `project_tag_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_tag_link` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `project_tag_id` bigint(20) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_tag_link` (`project_id`,`project_tag_id`),
  KEY `fk_project_tag_link_project_tag` (`project_tag_id`),
  CONSTRAINT `fk_project_tag_link_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_project_tag_link_project_tag` FOREIGN KEY (`project_tag_id`) REFERENCES `project_tag` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project_update`
--

DROP TABLE IF EXISTS `project_update`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_update` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `completion_percent_after` decimal(5,2) NOT NULL DEFAULT 0.00,
  `health_status_after` varchar(50) NOT NULL DEFAULT 'green',
  `major_risks` text DEFAULT NULL,
  `next_actions` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_project_update_project` (`project_id`),
  KEY `idx_project_update_user` (`user_id`),
  KEY `idx_project_update_created_at` (`created_at`),
  CONSTRAINT `fk_project_update_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_project_update_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reminder`
--

DROP TABLE IF EXISTS `reminder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reminder` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `entity_type` varchar(50) DEFAULT NULL,
  `entity_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `remind_at` datetime NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'pending',
  `delivery_channel` varchar(50) NOT NULL DEFAULT 'system',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_reminder_user` (`user_id`),
  KEY `idx_reminder_remind_at` (`remind_at`),
  KEY `idx_reminder_status` (`status`),
  CONSTRAINT `fk_reminder_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_role_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sop`
--

DROP TABLE IF EXISTS `sop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sop` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `objective` text DEFAULT NULL,
  `scope` text DEFAULT NULL,
  `current_status` varchar(50) NOT NULL DEFAULT 'draft',
  `external_document_url` varchar(500) DEFAULT NULL,
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sop_org` (`organization_id`),
  KEY `idx_sop_area` (`business_area_id`),
  KEY `idx_sop_owner` (`owner_user_id`),
  CONSTRAINT `fk_sop_business_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_sop_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_sop_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `status_history`
--

DROP TABLE IF EXISTS `status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `status_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` bigint(20) unsigned NOT NULL,
  `old_status` varchar(50) DEFAULT NULL,
  `new_status` varchar(50) NOT NULL,
  `changed_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `changed_at` datetime NOT NULL DEFAULT current_timestamp(),
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_status_history_entity` (`entity_type`,`entity_id`),
  KEY `idx_status_history_changed_by` (`changed_by_user_id`),
  KEY `idx_status_history_changed_at` (`changed_at`),
  CONSTRAINT `fk_status_history_changed_by_user` FOREIGN KEY (`changed_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subproject`
--

DROP TABLE IF EXISTS `subproject`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `subproject` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `current_status` varchar(50) NOT NULL DEFAULT 'planned',
  `priority_level` varchar(50) NOT NULL DEFAULT 'medium',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `target_date` date DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `completion_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `last_reported_at` datetime DEFAULT NULL,
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `updated_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_subproject_project` (`project_id`),
  KEY `idx_subproject_owner` (`owner_user_id`),
  KEY `idx_subproject_status` (`current_status`),
  KEY `fk_subproject_created_by_user` (`created_by_user_id`),
  KEY `fk_subproject_updated_by_user` (`updated_by_user_id`),
  CONSTRAINT `fk_subproject_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_subproject_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_subproject_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_subproject_updated_by_user` FOREIGN KEY (`updated_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sync_event`
--

DROP TABLE IF EXISTS `sync_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sync_event` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `external_system_id` bigint(20) unsigned NOT NULL,
  `event_type` varchar(80) NOT NULL,
  `internal_entity_type` varchar(50) DEFAULT NULL,
  `internal_entity_id` bigint(20) unsigned DEFAULT NULL,
  `external_entity_type` varchar(50) DEFAULT NULL,
  `external_entity_id` varchar(190) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'pending',
  `payload_summary` text DEFAULT NULL,
  `occurred_at` datetime NOT NULL DEFAULT current_timestamp(),
  `processed_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sync_event_system` (`external_system_id`),
  KEY `idx_sync_event_status` (`status`),
  KEY `idx_sync_event_occurred_at` (`occurred_at`),
  CONSTRAINT `fk_sync_event_external_system` FOREIGN KEY (`external_system_id`) REFERENCES `external_system` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `task`
--

DROP TABLE IF EXISTS `task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `subproject_id` bigint(20) unsigned DEFAULT NULL,
  `parent_task_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(220) NOT NULL,
  `description` text DEFAULT NULL,
  `task_type` varchar(50) NOT NULL DEFAULT 'task',
  `current_status` varchar(50) NOT NULL DEFAULT 'pending',
  `priority_level` varchar(50) NOT NULL DEFAULT 'medium',
  `owner_user_id` bigint(20) unsigned DEFAULT NULL,
  `assigned_user_id` bigint(20) unsigned DEFAULT NULL,
  `reviewer_user_id` bigint(20) unsigned DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `due_date` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `estimated_hours` decimal(8,2) DEFAULT NULL,
  `actual_hours` decimal(8,2) DEFAULT NULL,
  `completion_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `order_index` int(10) unsigned NOT NULL DEFAULT 0,
  `is_blocked` tinyint(1) NOT NULL DEFAULT 0,
  `last_reported_at` datetime DEFAULT NULL,
  `last_activity_at` datetime DEFAULT NULL,
  `created_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `updated_by_user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_task_project` (`project_id`),
  KEY `idx_task_subproject` (`subproject_id`),
  KEY `idx_task_parent` (`parent_task_id`),
  KEY `idx_task_owner` (`owner_user_id`),
  KEY `idx_task_assigned` (`assigned_user_id`),
  KEY `idx_task_status` (`current_status`),
  KEY `idx_task_due_date` (`due_date`),
  KEY `fk_task_reviewer_user` (`reviewer_user_id`),
  KEY `fk_task_created_by_user` (`created_by_user_id`),
  KEY `fk_task_updated_by_user` (`updated_by_user_id`),
  CONSTRAINT `fk_task_assigned_user` FOREIGN KEY (`assigned_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_task_created_by_user` FOREIGN KEY (`created_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_task_owner_user` FOREIGN KEY (`owner_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_task_parent_task` FOREIGN KEY (`parent_task_id`) REFERENCES `task` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_task_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_task_reviewer_user` FOREIGN KEY (`reviewer_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_task_subproject` FOREIGN KEY (`subproject_id`) REFERENCES `subproject` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_task_updated_by_user` FOREIGN KEY (`updated_by_user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `task_dependency`
--

DROP TABLE IF EXISTS `task_dependency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_dependency` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `predecessor_task_id` bigint(20) unsigned NOT NULL,
  `successor_task_id` bigint(20) unsigned NOT NULL,
  `dependency_type` varchar(50) NOT NULL DEFAULT 'finish_to_start',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_task_dependency_pair` (`predecessor_task_id`,`successor_task_id`,`dependency_type`),
  KEY `idx_task_dependency_successor` (`successor_task_id`),
  CONSTRAINT `fk_task_dependency_predecessor_task` FOREIGN KEY (`predecessor_task_id`) REFERENCES `task` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_task_dependency_successor_task` FOREIGN KEY (`successor_task_id`) REFERENCES `task` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `task_tag_link`
--

DROP TABLE IF EXISTS `task_tag_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_tag_link` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint(20) unsigned NOT NULL,
  `project_tag_id` bigint(20) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_task_tag_link` (`task_id`,`project_tag_id`),
  KEY `fk_task_tag_link_project_tag` (`project_tag_id`),
  CONSTRAINT `fk_task_tag_link_project_tag` FOREIGN KEY (`project_tag_id`) REFERENCES `project_tag` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_task_tag_link_task` FOREIGN KEY (`task_id`) REFERENCES `task` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `task_update`
--

DROP TABLE IF EXISTS `task_update`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_update` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint(20) unsigned NOT NULL,
  `project_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `update_type` varchar(50) NOT NULL DEFAULT 'progress',
  `progress_percent_after` decimal(5,2) NOT NULL DEFAULT 0.00,
  `summary` text DEFAULT NULL,
  `blockers_summary` text DEFAULT NULL,
  `next_step` text DEFAULT NULL,
  `confidence_level` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_task_update_task` (`task_id`),
  KEY `idx_task_update_project` (`project_id`),
  KEY `idx_task_update_user` (`user_id`),
  KEY `idx_task_update_created_at` (`created_at`),
  CONSTRAINT `fk_task_update_project` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_task_update_task` FOREIGN KEY (`task_id`) REFERENCES `task` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_task_update_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_account` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint(20) unsigned NOT NULL,
  `first_name` varchar(120) NOT NULL,
  `last_name` varchar(120) DEFAULT NULL,
  `display_name` varchar(180) NOT NULL,
  `email` varchar(190) DEFAULT NULL,
  `phone` varchar(40) DEFAULT NULL,
  `role_summary` varchar(255) DEFAULT NULL,
  `employment_status` varchar(50) NOT NULL DEFAULT 'active',
  `timezone` varchar(80) NOT NULL DEFAULT 'America/Mexico_City',
  `notes` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_account_email` (`email`),
  KEY `idx_user_account_org` (`organization_id`),
  KEY `idx_user_account_active` (`is_active`),
  CONSTRAINT `fk_user_account_organization` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_area_assignment`
--

DROP TABLE IF EXISTS `user_area_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_area_assignment` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `business_area_id` bigint(20) unsigned NOT NULL,
  `responsibility_level` varchar(50) NOT NULL DEFAULT 'member',
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_area_assignment` (`user_id`,`business_area_id`,`start_date`),
  KEY `idx_user_area_assignment_area` (`business_area_id`),
  CONSTRAINT `fk_user_area_assignment_area` FOREIGN KEY (`business_area_id`) REFERENCES `business_area` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_user_area_assignment_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_capacity_profile`
--

DROP TABLE IF EXISTS `user_capacity_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_capacity_profile` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `weekly_capacity_hours` decimal(6,2) DEFAULT NULL,
  `max_parallel_projects` int(10) unsigned DEFAULT NULL,
  `max_parallel_tasks` int(10) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_capacity_profile_user` (`user_id`),
  CONSTRAINT `fk_user_capacity_profile_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_role`
--

DROP TABLE IF EXISTS `user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_role` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `role_id` bigint(20) unsigned NOT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_role_user_role` (`user_id`,`role_id`),
  KEY `idx_user_role_role` (`role_id`),
  CONSTRAINT `fk_user_role_role` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_user_role_user` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-03-21 19:30:20
